<!DOCTYPE html>
<html lang="en">
<head>
  <title>Book List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Book List</h2>
  <p>Click buttons to perform action!</p>            
  <table class="table">
    <thead>
      <tr>
        <!-- <th>Book ID</th> -->
        <th>Book Name</th>
        <!-- <th>Author</th> -->
        <!-- <th>Price</th> -->
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <!-- <td>{{book.id}}</td> -->
        <td>{{book.name}}</td>
        <!-- <td>{{book.author}}</td> -->
        <!-- <td>{{book.price}}</td> -->
        <td><button type="button" (click)="editBook(book.id)" class="btn btn-primary">edit</button>&nbsp;
          <button type="button" (click)="getBook(book.id)" class="btn btn-info">view</button>&nbsp;
          <button type="button" (click)="remove(book.id)" class="btn btn-danger">remove</button>&nbsp;
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" (click)="addBook()" class="btn btn-success">add book</button>
</div>

</body>
</html>
